@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face { 
    font-family: 'Blacksword';
    src: url('../fonts/Blacksword.otf') format('truetype');
    }
// paletas de colores

$color1: rgba(0, 0, 0, 0.432);
$color2: black;
$color3: rgba(0, 38, 255, 0);
$color4: white;
$font1: "Lato", sans-serif;
$font2: sans-serif;
$font3: 'Blacksword', sans-serif;


body{
    background-color: #505050;
    font-family: $font2;
    color: $color4;
}
.titulo{
    background-color:$color2 ;
    font-family: $font3;
    color: blue;
    text-align: center;
    margin-bottom: 0;
    padding-top: 5px;
}
p{
    font-style: italic ;
}
a{
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: auto;
    margin: auto;
    color: green;
}
.formulario{
    width: 100%;
    background-color: $color3;
    padding: 10px;
}
.formulario_tipo{
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid $color2 ;
    color: $color4;
}
.enviar{
    color: $color4 ;
    background-image: linear-gradient(to bottom, #000000, #191919, #2a2a2a, #3c3c3c, #505050);
}
.presentacion{
    text-align: center;
    margin: auto;
    border-style: hidden;
    margin-top: 0;
    font-family: $font1;
    font-size: 20px;
}
.fondo{
    height: 100%;
    background-color: $color2 ;
    background-image: linear-gradient(to bottom, #000000, #191919, #2a2a2a, #3c3c3c, #505050);
}
.fondo-navbar{
    background-size: cover;
    background-position: center;
    background-position-y: 60% ;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url(../Imagenes/img4.jpg) !important;
}
h2{
    font-size: 30px;
    margin: 10px;
    margin-top: 0;
}
.nosotros{
@extend .presentacion;
}
.texto_formulario{
@extend .presentacion;
text-align: start;
font-size: x-large;
color: $color4;
}
.titulo_galeria{
@extend .presentacion;
}
.Secciones_galeria{
    background-color: $color1;
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: $font2;
    margin-top: 10px;
    box-shadow: 20px 20px 20px $color1 ;
}
.imagenes{
    border-radius: 5px;
    height: auto;
    max-width: 100%;
    justify-content: center;

}
.div-descubremas{
    margin-top: 0;
    margin-bottom: 0;
}
.copyright{
    background-color: $color1;
    text-align: center;
    font-family: $font1;
    font-size: 20px;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 20px 20px 20px $color1;
}
.descubre_mas{
    background-color: $color1;
    text-align: center;
    font-size: 40px;
    margin-top: 0 ;
    border-radius: 5px;
    font-family: $font2;
    box-shadow: 20px 20px 20px $color1 ;

}
.videos{
    max-width:100%;
    aspect-ratio:56.25%;
}
iframe{
max-width: 100%;  
}
.navbar{
    background-color: $color2;
}
.container-fluid{
    padding: 0 !important;
    justify-content: flex-start;
}
.Logo{
    width: 150px;
    height: auto;
}
.navbar-brand{
    text-align: start !important;
    margin: 10px;
}
.collapse{
    display: flex;
    justify-content: flex-end;

    .navbar-nav{
        text-align: end;

        .nav-item{
            font-size: 16px;

            .nav-link{
                padding: 0 !important;
                width: 110px !important;
                color: rgb(253, 253, 255) ;
            }
        }
    }
}
.slider{
    margin-top: 20px;
}
.wpp{
    color: green !important;
    font-size: 40px;
    text-align: end;
}

